#title-span{
    padding-bottom: 1.7em;
    display: block;
}

nav{
    transform-origin: top;

    position: absolute;
    z-index: 99;
    width: 100%;
}
.open-nav {
    transform: scale(1, 1);
    transition: 0.4s cubic-bezier(0.04, 0.73, 0.38, 1);

    height: min-content;
    /* box-shadow: 0 77em 111em 77em RGBA(0, 0, 0, 0.5); */
}
.closed-nav{
    height: 0;
    /* box-shadow: none; */

    transform: scale(1, 0);
    transition: 0.3s ease-in;
}

nav > a{
    display: block;
    background-color: #5A6896;
    color: white;
    padding: 1em 1em 1em 1em;
    font-size: max(2vh, 0.8em);

    transition: 0.2s ease-in-out;
}
nav > a:hover{
    background-color: white;
    color: black;
}

.open-nav ~ span{
    filter: blur(11px);

    transition: 0.4s cubic-bezier(0.04, 0.73, 0.38, 1);
}

h1, h2, h3, h4{
    margin: 0;
    padding: 0;
    color: white;

    font-family: sans-serif;
}
h1{
    font-size: min(7vw, 3em);

    text-align: center;
    margin-top: 1.5em;
    margin: auto;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.4em;
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    font-family: sans-serif;
}
body *{
    box-sizing: border-box;

    transition: 0.5s ease-in-out;
}

i{
    display: block;
}

.text-section{
    background-color: RGB(25, 25, 25);
    color: white;
    width: 100%;
    display: block;
    padding: 1em 1em 1em 1em;
}
.text-section:nth-of-type(even){
    background-color: RGB(223, 223, 223);
    color: black;
}

#title-span{
    background-color: black;
}

.text-section:nth-of-type(even) h2, .text-section:nth-of-type(even) h3{
    color: black;
}

.text-section:nth-of-type(odd) a:not(.anchor-button, .fa-bars){
    color: lightskyblue
}
.text-section:nth-of-type(odd) a:visited:not(.anchor-button, .fa-bars){
    color: plum
}

.image-section{
    background-color: black;
    color: lightgray;
    width: 100%;
    height: max-content;
    display: block;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .666); */
}
.image-section h2, .image-section h3{
    color: white;
}

.boxed-text-section{
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 3vh;
}
.text-section > .boxed-text-section:nth-of-type(even){
    flex-wrap: wrap-reverse;
}

.logo{
    width: 10%;
    height: 10%;
    min-width: 12em;
    min-height: 12em;
    max-width: 37vh;
    margin: auto;
    display: block;
}

.fa-bars{
    position: absolute;
    right: 0.3em;
    top: 0.3em;
    font-size: 11vw;

    text-decoration: none;
    color: white;
}

iframe{
    display: block;
    margin: auto;
    margin-bottom: 1em;
    width: 98%;
	max-width: max(53em, 103vh);
    aspect-ratio: 16 / 9;
}

img, figure{
    width: 100%;
    max-width: 777px;
    display: block;
    margin: auto;
}
figcaption{
    font-style: italic;
}

.anchor-button{
    font-size: 1.1em;
    padding: 0.8em 1.1em 0.8em 1.1em;

    background-color: #5A6896;
    color: white;

    border-radius: 0.2em;
}

.footer{
    text-align: center;
    background-color: black;
}
.footer a{
    font-size: 3em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    text-decoration: none;
}
.footer p{
    font-size: smaller;
}

@media screen and (min-width: 777px) {
    .logo{
        text-align: left;
        margin: 0;
        margin-right: 0.3em;
    }

    #title-span{
        display: inline-flex;
        flex-wrap: nowrap;
    }

    .fa-bars{
        display: inline;
        margin-left: 0.3em;
    
        float: right;
        position: relative;
        top: 0;
        right: 0;

        font-size: min(7vw, 3em);

        margin-top: 1.5em;
    }
}

@media screen and (min-width: 77em){
    .boxed-text-section{
        display: inline-flex;
        flex-wrap: nowrap;
    }

    .text-section > .boxed-text-section:nth-of-type(even){
        flex-wrap: nowrap;
    }

    .boxed-text-section img:last-child, .boxed-text-section .img-box:last-child, .boxed-text-section span:last-child{
        margin-left: 2.5em;
    }
}
