#title-span{
    padding-bottom: 3em;
    display: block;
}

h1{
    color: white;
    font-size: min(7vw, 3em);
    margin: 0;
    padding: 0;

    text-align: center;
    margin-top: 1.5em;
    margin: auto;
}
h2{
    color: white;
    font-size: 2em;
    margin: 0;
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-family: sans-serif;
}
body *{
    box-sizing: border-box;
}

.text-section{
    background-color: black;
    color: lightgrey;
    width: 100%;
    display: block;
    padding-bottom: 7em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}
.image-section{
    background-color: black;
    color: lightgray;
    width: 100%;
    height: 23em;
    min-height: min-content;
    display: block;
    padding-bottom: 7em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .666);
}

.flexbox{
    display: inline-flex;
    flex-wrap: wrap;
    margin: auto;
}

.logo{
    width: 10%;
    height: 10%;
    min-width: 12em;
    min-height: 12em;
    max-width: 37vh;
    margin: auto;
    display: block;
}

iframe{
    display: block;
    margin: auto;
    width: 98%;
	max-width: max(53em, 103vh);
    aspect-ratio: 16 / 9;
}

.anchor-button{
    font-size: 1.1em;
    padding: 0.8em 1.1em 0.8em 1.1em;
}

@media screen and (min-width: 600px) {
    .logo{
        text-align: left;
        margin: 0;
    }

    #title-span{
        display: inline-flex;
        flex-wrap: nowrap;
    }
}

@media (prefers-color-scheme: light){
    .text-section{
        background-color: white;
        color: black;
    }

    .text-section > h1, .text-section > h2{
        color: black;
    }
}